.cartButton {
    position: relative;
    width: 144px !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .cartButton__badge {
        min-width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
    }
}